system: dlm

# Global parameters
global:
  ingress:
    enabled: false
    domainName: "sdhp.stfc.skao.int"  # required for whitelisting redirects
  development: true
  storageClass: "localdisk"  # existing storage class
  sharedpvc: # shared pvc that can be mounted by multiple pods
    pv:
      name: shared
      create: true  # create or use existing pv
      storageSize: 2Gi
    pvc:
      name: shared
      create: true  # create or use existing pvc
      storageSize: 2Gi  # created claim size

nameOverride: ""
fullnameOverride: ""

# DLM
request:
  component: request
  subsystem: data-lifecycle-management
  image: artefact.skao.int/ska-data-lifecycle
  version: "1.2.0"
  imagePullPolicy: Always
  replicas: 1

migration:
  component: migration
  subsystem: data-lifecycle-management
  image: artefact.skao.int/ska-data-lifecycle
  version: "1.2.0"
  imagePullPolicy: Always
  replicas: 1

storage:
  component: storage
  subsystem: data-lifecycle-management
  image: artefact.skao.int/ska-data-lifecycle
  version: "1.2.0"
  imagePullPolicy: Always
  replicas: 1

  locations:

  endpointSecretName: ""
  endpoints:

ingest:
  component: ingest
  subsystem: data-lifecycle-management
  image: artefact.skao.int/ska-data-lifecycle
  version: "1.2.0"
  imagePullPolicy: Always
  replicas: 1


postgrest:
  component: postgrest
  subsystem: data-lifecycle-management

  image: postgrest/postgrest
  version: "v13.0.7"
  imagePullPolicy: Always

  replicas: 1
  db_schema: dlm
  db_anon_role: ska_dlm_admin
  db_pool: 10
  server_host: '*4'
  secret_is_base64: false
  max_rows: ""
  pre_request: ""
  role_claim_key: '.role'
  log_level: info

  # PostgREST's auth details against PostgreSQL come from a Secret, which can be:
  # * Given to us by name, or
  # * Created via:
  #   * VSO, or
  #   * Automatically from the postgresql.auth section
  db_auth_secret:
    create: true
    vault:
      enabled: false
      path: ""
      mount: ""
      type: "kv-v2"
    name: ""

database:
  migration:
    enabled: false
    image: postgres
    version: "17.4"
    base:
      baseInstall: true
    patch:
      patchInstall: false
      patchVersion: ""  # Supply a valid patch version vx.x.x

rclone:
  component: rclone
  subsystem: data-lifecycle-management
  image: registry.gitlab.com/ska-telescope/ska-data-lifecycle/ska-data-lifecycle-rclone
  version: 1.2.0
  imagePullPolicy: Always
  replicas: 1

  secret:
    enabled: false
    name: ""
    mountPoint: "/secrets/"
    ssl_key_name: ""
    ssl_cert_name: ""
    vault:
      enabled: false
      mount: ""
      type: kv-v2
      path: ""

kubectl:
  image: rancher/kubectl
  version: "v1.28.15-amd64"
  imagePullPolicy: Always

# Test Database
postgresql:  # see https://github.com/bitnami/charts/tree/main/bitnami/postgresql
  enabled: false
  nameOverride: postgresql

  # Custom user/password/db to create, has to match primary.initdb authentication
  auth:
    username: ska_dlm_admin
    password: password
    database: ska_dlm

  image:
    repository: postgres # docker.io has a pull limit of 100 per 6 hours per IP, 200 for authenticated users
    tag: "17-bookworm"
    pullPolicy: Always  # Always for fresh pulls
    debug: true

  primary:
    name: ska_dlm
    containerSecurityContext:
      readOnlyRootFilesystem: false
    persistence:
      enabled: false
    initdb:
      user: ska_dlm_admin
      password: password
      scriptsConfigMap: ska-dlm-postgresql-initdb-base-scripts
    podLabels:
      component: postgresql
      subsystem: data-lifecycle-management
    networkPolicy:
      enabled: false

gateway:
  enabled: false
  component: gateway
  subsystem: data-lifecycle-management
  image: registry.gitlab.com/ska-telescope/ska-data-lifecycle/ska-data-lifecycle-test-gateway
  version: "1.2.0"
  imagePullPolicy: Always
  replicas: 1
  secret:
    name: ""

keycloak:
  enabled: false
  component: keycloak
  subsystem: data-lifecycle-management
  image: registry.gitlab.com/ska-telescope/ska-data-lifecycle/ska-data-lifecycle-test-keycloak
  version: "1.2.0"
  imagePullPolicy: Always
  replicas: 1
  use_https: true

pgweb:  # see https://github.com/ectobit/charts/tree/main/pgweb
  enabled: false
  ingress:
    enabled: false
    annotations:
      nginx.ingress.kubernetes.io/rewrite-target: /$2
    hosts:
    - paths:
      - path: /pgweb(/|$)(.*)
        pathType: ImplementationSpecific

benchmark:
  enabled: false
  component: benchmark
  subsystem: data-lifecycle-management
  image: registry.gitlab.com/ska-telescope/ska-data-lifecycle/ska-data-lifecycle-benchmark
  version: "1.1.2"
  imagePullPolicy: Always

  name: register
  config:
    host:
    token:
    sourceFile:
    mountPath:
