{{/* vim: set filetype=mustache: */}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: ska-dlm-postgresql-initdb-base-scripts
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "ska-dlm.postgrest.labels" . | nindent 4 }}
{{- if and .Values.database.migration.enabled .Values.database.migration.base.baseInstall }}
data:
{{ (.Files.Glob "initdb-scripts/*.sql").AsConfig | indent 2 }}
{{- end }}
