{{- if .Values.global.sharedpvc.pv.create }}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ .Values.global.sharedpvc.pv.name }}
spec:
  persistentVolumeReclaimPolicy: Retain
  {{- if hasKey .Values.global.sharedpvc.pv "storageClassName" }}
  storageClassName: {{ .Values.global.sharedpvc.pv.storageClassName | quote }}
  {{- else }}
  storageClassName: ""
  {{- end }}
  accessModes:
    - ReadWriteMany
  capacity:
    storage: {{ .Values.global.sharedpvc.pv.storageSize | quote }}
  hostPath:
    path: "/dlm"
{{- end }}
