{{- if .Values.global.sharedpvc.pv.create }}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ .Values.global.sharedpvc.pv.name }}
spec:
  persistentVolumeReclaimPolicy: Retain
  storageClassName: "manual"
  accessModes:
    - ReadWriteMany
  capacity:
    storage: {{ .Values.global.sharedpvc.pv.storageSize }}
  hostPath:
    path: "/shared-data"
{{- end }}
