{{- if $.Values.global.sharedpvc.pvc.create }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Values.global.sharedpvc.pvc.name }}
  namespace: {{ .Release.Namespace }}
spec:
  volumeName: {{ .Values.global.sharedpvc.pv.name }}
  storageClassName: "manual"
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ $.Values.global.sharedpvc.pvc.storageSize }}
{{- end }}
